@{
    Layout = null;
}

@model ArticleListDto

<!DOCTYPE html>

<!--
   Template:   Aivo - Multipurpose Portfolio HTML Website Template
   Author:     Themetorium
   URL:        https://themetorium.net
-->

<html lang="en">
<head>
    <style>        .disabled-links a {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: inherit;
        }</style>
    <!-- Title -->
    <title>Results</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive multipurpose portfolio HTML website template">
    <meta name="keywords" content="HTML5, CSS3, Bootsrtrap, Responsive, Multipurpose, Portfolio, Template, Theme, Website, Themetorium" />
    <meta name="author" content="themetorium.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon (http://www.favicon-generator.org/) -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    @await Component.InvokeAsync("CSS")

</head>


<!-- ===========
///// Body /////
================-->
<body id="body" class="animsition tt-boxed">


    <!-- =================
    //// Begin header ////
    ======================-->
    <header id="header" class="header-show-hide-on-scroll menu-align-right">

        <!-- Begin header inner -->
        <div class="header-inner tt-wrap">
            @await Component.InvokeAsync("Header")
        </div>
        <!-- End header inner -->

    </header>
    <!-- End header -->
    <!-- *************************************
    *********** Begin body content ***********
    ************************************** -->
    <div id="body-content">


        <!-- ========================
        ///// Begin page header /////
        =============================-->
        <section id="page-header">

            <!-- Begin page header image
            =============================-->
            <div class="page-header-image parallax-6 bg-image" style="background-image: url(/assets/searchheader.jpg);">

                <!-- Element cover
                ===================-->
                <div class="cover cover-opacity-4"></div>

            </div>
            <!-- End page header image -->
            <!-- Begin page header inner -->
            <div class="page-header-inner tt-wrap">

                <!-- Begin page header caption
                ===============================
                -->
                <div class="page-header-caption ph-cap-xlg ph-cap-light parallax-5 fade-out-scroll-4">
                    <div class="ph-title-wrap">
                        <h1 class="page-header-title">Search</h1>
                    </div>
                    <div class="ph-subtitle-wrap">
                        <h2 class="page-header-subtitle"></h2>
                    </div>

                    <!-- Begin zig-zag separator
                    =============================
                    -->
                    <div class="zig-zag-separator zig-zag-lg">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>


                </div>
                <!-- End page header caption -->

            </div>
            <!-- End page header inner -->
            <!-- Begin page header animated element

            -->
            <div class="ph-anim-element-wrap ph-anim-circle parallax-4">
                <div class="ph-anim-element-holder">
                    <div class="ph-anim-element"></div>
                </div>
            </div>			<!-- End page header inner -->


        </section>
        <!-- End page header -->
        <!-- ===================================
        ///// Begin search results section /////
        ==================================== -->
        <section id="search-results-section">
            <div class="srs-inner tt-wrap">
                <!-- Begin big search box
                ==========================-->
                <div class="big-search-box">
                    <div class="big-search-box-inner">

                        <!-- Begin big search box form -->
                        <form id="big-search-form" class="form-btn-inside" asp-controller="Home" asp-action="Search" method="GET">
                            <div class="big-search-input-wrap">
                                <input type="text" id="big-search-input" name="keyword" placeholder="Search something ...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div> <!-- /.big-search-input-wrap -->
                        </form>
                        <!-- End big search box form -->

                    </div> <!-- /.big-search-box-inner -->
                </div>
                <!-- End big search box -->
                <!-- Begin search results
                ========================== -->
                <div class="search-results">

                    <!-- <div class="no-search-results">
                        <h1>Nothing Found!</h1>
                        <p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
                    </div> -->
                    <!-- Begin search results head -->
                    <div class="search-results-head">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="srh-title">Search Results for: <span id="search-keyword"></span></h3>
                            </div> <!-- /.col -->

                            <div class="col-sm-6 text-right">
                                <div class="sr-count"><strong>@Model.Articles.Count()</strong> results are found</div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </div>
                    <!-- End search results head -->
                    <!-- Begin search results items wrap -->
                    <div class="sr-items-wrap">

                        <!-- Begin search results item (Type: portfolio)
                        ================================================= -->
                        @foreach (var item in Model.Articles)
                        {
                            <div class="search-results-item">

                                <!-- Begin search results item image -->
                                <a asp-controller="Home" asp-action="Detail" asp-route-slug="@item.Slug" class="sr-item-img-holder">
                                    <div  class="sr-item-img bg-image lazy" data-src="/assets/images/@item.ArticleImages.FirstOrDefault()?.FileName"></div>
                                </a>
                                <!-- End search results item image -->
                                <!-- Begin search results item info -->
                                <div class="sr-item-info">
                                    <div style="background-color: lightblue; display: inline-flex;" class="sr-item-category">
                                        <h8>@item.Category.Name</h8>
                                    </div>

                                    <div class="sr-item-meta">
                                        <span class="published">@item.CreatedDate.ToString("MMM dd, yyyy")</span>
                                        <span class="posted-by">- by <a href="#" title="View all posts by Lucas Sanski">@item.User.FirstName @item.User.LastName</a></span>
                                    </div>
                                    <div class="sr-item-description ">
                                        @Html.Raw(item.Content.Length > 50 ? item.Content.Substring(0, 200) : item.Content) ...
                                    </div>
                                    <a asp-controller="Home" asp-action="Detail" asp-route-slug="@item.Slug" class="btn btn-default btn-sm margin-top-20">Read Post</a>


                                </div>	 
                                
                                <!-- End search results item info -->
                            </div>
                        }


                    </div>
                    <!-- End search results items wrap -->

                </div>
                <!-- End search results -->
                <!-- Begin tt-pagination
                =========================
                * Use class "tt-pagin-center" or "tt-pagin-right" to align pagination
                * Use class "tt-pagin-rounded" to enable pagination rounded style -->
                <div class="tt-pagination-wrap">
                </div>
                <!-- End tt-pagination -->

            </div>
            <!-- End search results section inner -->

        </section> <!-- /.search results section -->
        <!-- ===========================
           ///// Begin footer section /////
           ================================-->
        <section id="footer" class="footer-dark no-margin-top">

            @await Component.InvokeAsync("Footer")

        </section>
        <!-- End footer section -->

    </div>
    <!-- End body content -->
    <!-- ====================
    ///// Scripts below /////
    ===================== -->
    @await Component.InvokeAsync("JS")
    <script>
        // Sayfa yüklendiğinde çalışacak kod
        document.addEventListener("DOMContentLoaded", function () {
            // URL'den "keyword" parametresini al
            const urlParams = new URLSearchParams(window.location.search);
            const keyword = urlParams.get("keyword");

            // "search-keyword" id'sine sahip <span> etiketinin içine keyword'i yerleştir
            const searchKeywordElement = document.getElementById("search-keyword");
            searchKeywordElement.textContent = keyword;
        });
    </script>




    <!--==============================
    ///// Begin Google Analytics /////
    ============================== -->
    <!-- Paste your Google Analytics code here.
    Go to http://www.google.com/analytics/ for more information. -->
    <!--==============================
    ///// End Google Analytics /////
    ============================== -->

</body>

</html>