@using YoutubeBlog.Entity.DTOs.SmtpSettings;
@model List<SmtpSettingsDto>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.uikit.min.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mb-30">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    Sayfa SMTP Yönetimi
                </div>
                <div class="card-body">

                    @if (Model == null || !Model.Any())
                    {
                        <div class="atbd-empty text-center">
                            <div class="atbd-empty__image">

                                <img src="~/Admin/img/folders/1.svg" alt="Admin Empty">

                            </div>
                            <div class="atbd-empty__text">

                                <p class="">No Data</p>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <div class="text-nowrap m-5">


                                <table class="uk-table uk-table-hover uk-table-striped w-90 border-5" style="width:100%" id="Table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">IP</th>
                                            <th class="text-center">Port</th>
                                            <th class="text-center">Port</th>
                                            <th class="text-center">Username</th>
                                            <th class="text-center">İşlemler</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center">@item.ServerIP</td>
                                                <td class="text-center">@item.SMTPPort</td>
                                                <td class="text-center">@item.IMAPPort</td>
                                                <td class="text-center">@item.Username</td>


                                                <td style="vertical-align: middle; text-align: center;">
                                                    <!-- This ensures content inside the TD is vertically centered -->
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <!-- Bootstrap 4 Primary Button -->
                                                        <a class="btn btn-primary btn-sm mr-2" asp-area="Admin" asp-controller="Home" asp-action="UpdateSmtpSettings" asp-route-smtpName="@item.SmtpName">
                                                            Update
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="text-center">IP</th>
                                            <th class="text-center">Port</th>
                                            <th class="text-center">Port</th>
                                            <th class="text-center">Username</th>
                                            <th class="text-center">İşlemler</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    }
                </div>
                <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
                <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.13.6/js/dataTables.uikit.min.js"></script>

                <script>
                    new DataTable('#Table');
                </script>

            </div><!-- End: .userDatatable -->

        </div>
    </div>
</div>